$margin-size: 0.2rem;

@mixin flex-container(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  @content;
}

.menus {
  background-color: #080f0f;
  color: #fff;
  margin-right: 300px;
  position: relative;
  z-index: 10;

  @media (max-width: 1100px) {
    margin-right: 0;
  }

  &__title {
    padding: calc(3rem + #{$margin-size}) 0 3rem;
    margin: 0;
    text-align: center;
    color: #bea57d;
  }

  &__products {
    display: flex;
    flex-wrap: wrap;
    margin: $margin-size $margin-size 0;
    padding-bottom: $margin-size;

    @media (max-width: 760px) {
      flex-direction: column;
      align-items: center;
    }

    .menus__product {
      width: calc(50% - 2 * #{$margin-size});
      display: flex;
      overflow: hidden;
      margin: $margin-size;
      position: relative;
      cursor: pointer;

      @media (max-width: 760px) {
        width: calc(100% - 2 * #{$margin-size});
      }

      &:hover {
        .menus__image {
          transform: scale(1.1);
          transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
          opacity: 0.9;
        }

        &:hover {
          .menus__description > .menus__description-type {
            opacity: 0.9;
          }
        }
      }

      .menus__image {
        min-width: 300px;
        width: 100%;
      }

      .menus__description {
        position: absolute;
        @include flex-container;
        height: 100%;
        width: 100%;

        .menus__description-type {
          @include flex-container;
          height: 120px;
          width: 100%;
          background-color: #080f0f;
          color: #bea57d;
          font-size: 2rem;
          opacity: 0.8;
        }
      }
    }
  }
}
