<section class="menus" id="menus">
  <h2 class="menus__title">MENU</h2>
  <div class="menus__products">
    <div
      class="menus__product"
      *ngFor="let product of products"
      [routerLink]="['/menu', product.id]"
      (click)="onClickScroll('menu-details')"
    >
      <img src="{{ product.imageSrc }}" alt="dish" class="menus__image" />
      <div class="menus__description">
        <div class="menus__description-type">{{ product.dishType }}</div>
      </div>
    </div>
  </div>
</section>
