<section class="footer">
  <h3 class="footer__title">Attributions:</h3>
  <div class="footer__wrapper">
    <div class="footer__attributions">
      <p class="footer__description">Background:</p>
      <span
        >Photo by
        <a
          href="https://unsplash.com/@clemono?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Clem Onojeghuo</a
        >
        on
        <a
          href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Unsplash</a
        ></span
      >

      <p class="footer__description">Menu section:</p>
      <ul class="footer__list">
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@randyfath?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Randy Fath</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/breakfast?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@aliet?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Alireza Etemadi</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/dessert?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@simplethemes?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Casey Lee</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/dinner?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@shootervision?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Kevin Kelly</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/drinks?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
      </ul>
    </div>
    <div class="footer__attributions">
      <p class="footer__description">Gallery background:</p>
      <span
        >Photo by
        <a
          href="https://unsplash.com/@rokjecar?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Rok Zabukovec</a
        >
        on
        <a
          href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Unsplash</a
        ></span
      >

      <p class="footer__description">Contact background:</p>
      <span
        >Photo by
        <a
          href="https://unsplash.com/@adolfofelix?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Adolfo Félix</a
        >
        on
        <a
          href="https://unsplash.com/s/photos/map?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
          >Unsplash</a
        ></span
      >
    </div>

    <div class="footer__attributions">
      <p class="footer__description">About section:</p>
      <ul class="footer__list">
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@brookelark?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Brooke Lark</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/food?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@miracletwentyone?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Joseph Gonzalez</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/food?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@pablomerchanm?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Pablo Merchán Montes</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@stefanjonhson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Stefan Johnson</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@stilclassics?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >STIL</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@fwbssy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Shangyou Shi</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@quentindrphotography?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Quentin Dr</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@fabmag?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Fabrizio Magoni</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@patrick_schneider?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Patrick Schneider</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/restaurant?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@aaronphs?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Aaron Thomas</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/cook?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
        <li>
          <span
            >Photo by
            <a
              href="https://unsplash.com/@judebeck?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Jude Beck</a
            >
            on
            <a
              href="https://unsplash.com/s/photos/wall-brick?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
              >Unsplash</a
            ></span
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="footer__name">COOL & CHILL Restaurant</div>
</section>
