<section class="about" id="about">
  <h2 class="about__title">ABOUT US</h2>
  <div class="about__us">
    <div class="about__wrapper">
      <div class="about__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
      <div class="about__image">
        <img
          src="assets/about-images/lights.jpg"
          alt="lights"
          class="about__image-lights about__image-dish"
        />
      </div>
    </div>
    <div class="about__wrapper about__wrapper--slant">
      <div class="about__image about__image--square">
        <img
          src="assets/about-images/dish2.jpg"
          alt="dish"
          class="about__image-dish"
        />
      </div>
      <div class="about__description about__description--square">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
      <div class="about__image about__image--square">
        <img
          src="assets/about-images/dish3.jpg"
          alt="dish"
          class="about__image-dish"
        />
      </div>
      <div class="about__description about__description--square">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
      <div class="about__image about__image--square">
        <img
          src="assets/about-images/dish5.jpg"
          alt="dish"
          class="about__image-dish"
        />
      </div>
      <div class="about__description about__description--square">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
    </div>
    <div class="about__wrapper">
      <div class="about__image">
        <img
          src="assets/about-images/dish1.jpg"
          alt="dish"
          class="about__image-dish"
        />
      </div>
      <div class="about__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
    </div>
    <div class="about__wrapper about__wrapper--background">
      <div class="about__single-text">Enjoy Your Meal!</div>
    </div>
    <div class="about__wrapper">
      <div class="about__description">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
      <div class="about__image">
        <img
          src="assets/about-images/dish6.jpg"
          alt="dish"
          class="about__image-dish"
        />
      </div>
    </div>
    <div class="about__wrapper about__wrapper--wall">
      <figure class="about__image about__image--square about__image--portrait">
        <img
          src="assets/about-images/portrait.jpg"
          alt="dish"
          class="about__image-owner"
        />
        <figcaption>John Smith. The Owner</figcaption>
      </figure>
      <div
        class="about__description about__description--square about__description--portrait"
      >
        <h3>WELCOME!</h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
        possimus. Non eligendi numquam molestias sunt, ex nemo molestiae
        temporibus dolore.
      </div>
    </div>
  </div>
</section>
