// #080F0F
// #A4BAB7
// #EFF2C0
// #BEA57D
// #A52422

@mixin flex-container($display: flex, $justify-content: center, $align-items: center) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  @content;
}

.navbar {
  width: 300px;
  position: fixed;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: #bea57d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 0px 10px #080f0f;

  &__logo {
    @include flex-container;
    height: 100px;
    background-color: #080f0f;
    color: #fff;
    cursor: pointer;
  }

  &__list {
    padding-left: 0;
  }

  &__list-element {
    @include flex-container;
    list-style: none;
    cursor: pointer;
    height: 60px;
    margin: 10px 0;
  }

  &__book {
    @include flex-container;
    height: 100px;
    width: 100%;
    background-color: #080f0f;
    color: #fff;
    border: none;
    cursor: pointer;
  }
}
