.menu-details {
  height: 100vh;
  margin-right: 300px;

  @media (max-width: 1100px) {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .menu-details__product {
      height: 100px;
      width: 25%;
      min-width: 280px;
      padding: 3rem 2rem;
      margin: 0.8rem;
      position: relative;
      background-color: rgb(230, 230, 230);

      @media (max-width: 470px) {
        width: 50%;
        min-width: 200px;
      }

      .menu-details__top-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
      }
    }

    .menu-details__product,
    .menu-details__product::before,
    .menu-details__product::after {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      border: 1px solid #bbb;
    }

    .menu-details__product::before,
    .menu-details__product::after {
      content: "";
      position: absolute;
      height: 95%;
      width: 99%;
      background-color: rgb(209, 209, 209);
    }

    .menu-details__product::before {
      right: 15px;
      top: 0;
      transform: rotate(-1deg);
      z-index: -1;
    }

    .menu-details__product::after {
      top: 5px;
      right: -5px;
      transform: rotate(1deg);
      z-index: -2;
      background-color: rgb(180, 180, 180);
    }
  }

  .menu-details__product:hover {
    &:after {
      top: 0;
      right: 0;
      transform: rotate(0deg);
      transition: top 0.5s, right 0.5s, transform 0.5s;
    }

    &:before {
      right: 0;
      transform: rotate(0deg);
      transition: right 0.5s, transform 0.5s;
    }
  }
}
