.menu-details {
  height: 900px;
  margin-right: 300px;

  @media (max-width: 1414px) {
    height: 1350px;
  }

  @media (max-width: 1100px) {
    margin-right: 0;
  }

  @media (max-width: 743px) {
    height: 2250px;
  }

  &__title {
    text-align: center;
    margin: 0 auto 3.5rem;
    padding: 3rem 0;
    background-color: #080f0f;
    color: #bea57d;
    border-bottom: 2px solid #a52422;
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .menu-details__product {
      height: 100px;
      width: 25%;
      min-width: 280px;
      padding: 3rem 2rem;
      margin: 0.8rem;
      position: relative;
      background-color: rgb(230, 230, 230);
      font-family: "DancingScript", "Roboto", "Helvetica Neue", sans-serif;

      @media (max-width: 470px) {
        width: 50%;
        min-width: 200px;
      }

      .menu-details__top-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        .menu-details__name {
          font-size: 1.4rem;
        }

        .menu-details__price {
          font-size: 1.2rem;
        }

        .menu-details__name,
        .menu-details__price {
          @media (max-width: 470px) {
            font-size: 1.1rem;
          }
        }
      }
      .menu-details__description {
        font-size: 1.2rem;

        @media (max-width: 470px) {
          font-size: 1.1rem;
        }
      }
    }

    .menu-details__product,
    .menu-details__product::before,
    .menu-details__product::after {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
      border: 1px solid #bbb;
    }

    .menu-details__product::before,
    .menu-details__product::after {
      content: "";
      position: absolute;
      height: 95%;
      width: 99%;
      background-color: rgb(209, 209, 209);
    }

    .menu-details__product::before {
      right: 15px;
      top: 0;
      transform: rotate(-1deg);
      z-index: -1;
    }

    .menu-details__product::after {
      top: 5px;
      right: -5px;
      transform: rotate(1deg);
      z-index: -2;
      background-color: rgb(180, 180, 180);
    }
  }
}
