<div class="menu-details" id="menu-details">
  <app-spinner *ngIf="spinner"></app-spinner>

  <h3 class="menu-details__title">{{ menuDetails?.dishType }}</h3>
  <div class="menu-details__wrapper">
    <div class="menu-details__product" *ngFor="let item of menuDetails?.items">
      <div class="menu-details__top-info">
        <span class="menu-details__name">{{ item.name }}</span
        ><span class="menu-details__price">{{ item.price }} PLN</span>
      </div>
      <div class="menu-details__description">{{ item.description }}</div>
    </div>
  </div>
</div>
