.contact {
  min-height: 100vh;
  background-color: #bea57d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 300px;
  flex-direction: column;

  @media (max-width: 1100px) {
    margin-right: 0;
  }

  &__title {
    padding: 3rem 0;
    margin: 0;
    text-align: center;
  }

  &__map-wrapper {
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #080f0f;
    margin-bottom: 8rem;

    .contact__map {
      height: 584px;
      width: 100%;
      padding: 0.5rem;
      position: relative;
      top: 30px;
      right: 30px;
      border: 2px solid #080f0f;
      transition: transform 0.5s linear, filter 0.5s linear;
      filter: grayscale(80%);

      &:hover {
        transform: translate(30px, -30px);
        filter: grayscale(40%);
      }
    }
  }
}
