<section class="contact" id="contact">
  <h2 class="contact__title">CONTACT</h2>

  <div class="contact__wrapper">
    <div class="contact__text">
      <div class="contact__hours">
        <img
          src="../../assets/contact-icons/pin.svg"
          alt="pin"
          class="contact__pin contact__pin--hour"
        />
        <p>Feel free to contact us between 15:00 and 23:00!</p>
      </div>
      <div class="contact__wrapper-info">
        <img
          src="../../assets/contact-icons/pin.svg"
          alt="pin"
          class="contact__pin contact__pin--left"
        />
        <img
          src="../../assets/contact-icons/pin.svg"
          alt="pin"
          class="contact__pin"
        />
        <h3>COOL & CHILL Restaurant</h3>

        <div class="contact__address contact__info">
          <img
            src="../../assets/contact-icons/address.svg"
            alt="address"
            class="contact__icon"
          />
          <p>12-345 SampleCity, 678/9 Sample Street</p>
        </div>
        <div class="contact__email contact__info">
          <img
            src="../../assets/contact-icons/mail.svg"
            alt="mail"
            class="contact__icon"
          />
          <p>sample.mail@sample.com</p>
        </div>
        <div class="contact__phone contact__info">
          <img
            src="../../assets/contact-icons/phone.svg"
            alt="phone"
            class="contact__icon"
          />
          <p>123-456-789, 987-654-321</p>
        </div>
      </div>
    </div>
    <div class="contact__break-image">
      <img
        class="contact__single-break"
        src="../../assets/contact-icons/apple.svg"
        alt="apple break"
      />
    </div>
    <div class="contact__map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5174.678016947565!2d19.531967976992313!3d49.57249388258772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4715d16a4efe96d7%3A0x95aad3bd66b951e1!2sBabia%20G%C3%B3ra!5e0!3m2!1spl!2spl!4v1597421710141!5m2!1spl!2spl"
        frameborder="0"
        allowfullscreen=""
        aria-hidden="false"
        tabindex="0"
        class="contact__map"
      ></iframe>
    </div>
    <div class="contact__break-image">
      <img
        class="contact__single-break"
        src="../../assets/contact-icons/fish.svg"
        alt="cap break"
      />
      <img
        class="contact__single-break"
        src="../../assets/contact-icons/fish.svg"
        alt="cap break"
      />
      <img
        class="contact__single-break"
        src="../../assets/contact-icons/fish.svg"
        alt="cap break"
      />
    </div>

    <div class="contact__background">
      <div class="contact__single-text">See You Soon!</div>
    </div>
  </div>
</section>
