$success: #77b4a2;

@mixin flex-container(
  $display: flex,
  $justify-content: center,
  $align-items: center
) {
  display: $display;
  justify-content: $justify-content;
  align-items: $align-items;
  @content;
}

.user-profile {
  min-height: 600px;
  background-color: #bea57d;
  margin-right: 300px;

  @media (max-width: 1100px) {
    margin-right: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1450px) {
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: 820px) {
      align-items: center;
    }

    .user-profile__choose-wrapper {
      display: flex;
      justify-content: space-between;

      @media (max-width: 820px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .user-profile__wrapper-bottom {
      display: flex;
      flex-direction: column;
      width: 332px;

      @media (max-width: 340px) {
        width: 320px;
      }
    }

    .user-profile__order-menu-user {
      display: flex;
      flex-direction: column;
      margin: 3rem 2rem 2rem 2rem;
      min-width: 300px;

      .user-profile__single-order {
        margin: 0.5rem 0;
        padding: 0.5rem;
        box-shadow: 2px 2px 4px #080f0f88;
        background-color: rgb(230, 230, 230);

        .user-profile__single-order-wrapper {
          display: flex;
          justify-content: space-between;

          .user-profile__single-order-title {
            margin-top: 0;
          }

          .user-profile__single-order-button {
            @include flex-container;
            font-size: 1.8rem;
            height: 3rem;
            width: 3rem;
            background: transparent;
            border: none;
            padding: 0.5rem 0.5rem 1rem;
            cursor: pointer;

            &:hover {
              color: #a52422;
            }
          }
        }

        &-type {
          margin-bottom: 0.6rem;
          font-style: italic;
          font-weight: bold;

          .user-profile__single-order-dish {
            display: flex;
            justify-content: space-between;
            margin-top: 0.2rem;
            font-style: normal;
            font-weight: normal;
          }
        }
      }

      .user-profile__submit {
        @include flex-container;
        height: 80px;
        width: 300px;
        padding: 0.5rem;
        background-color: #080f0f;
        color: #fff;
        border: none;
        cursor: pointer;
        border: 1px transparent solid;

        &:hover {
          border: 1px #fff solid;
        }

        &--disabled {
          display: none;
        }

        &--green {
          background-color: $success;
          border: 1px solid #080f0f;
        }
      }
    }
  }

  &__title {
    padding: 3rem 0;
    margin: 0 0 3rem;
    text-align: center;
    border-bottom: 2px solid #080f0f;
    background-color: #080f0f;
    color: #bea57d;
  }

  &__orders {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .user-profile__order {
      margin: 0.5rem;
      padding: 0.5rem;
      box-shadow: 2px 2px 4px #080f0f88;
      background-color: $success;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2.5rem;

    .user-profile__log-button {
      margin: 0.5rem;
      @include flex-container;
      height: 100px;
      width: 300px;
      background-color: #080f0f;
      color: #fff;
      border: none;
      cursor: pointer;
      border: 1px transparent solid;

      &:hover {
        border: 1px #fff solid;
      }

      &--red {
        background-color: #a52422;
        border: 1px solid #080f0f;
      }
    }

    .user-profile__log-button--order {
      height: 50px;
      width: 150px;

      @media (max-width: 340px) {
        width: 140px;
        margin: 0.1rem;
      }

      &:hover {
        border: 1px #fff solid;
      }
    }
  }

  &__buttons--order {
    min-height: 100px;
    justify-content: flex-start;
    margin-top: 2.5rem;

    @media (max-width: 340px) {
      justify-content: center;
    }
  }

  &__menu {
    height: 600px;
    width: 400px;
    min-width: 400px;
    margin: 3rem 2rem 2rem;
    overflow: auto;
    border: 2px solid #080f0f;
    border-right: none;
    box-shadow: 2px 2px 4px #080f0f88;
    background-color: rgb(230, 230, 230);

    &::-webkit-scrollbar {
      width: 0.7rem;
      background-color: #080f0f;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a52422d5;
      outline: 1px solid #080f0f;
    }

    @media (max-width: 470px) {
      width: 350px;
      min-width: 300px;
      margin: 3rem 1rem 1rem;
    }

    @media (max-width: 400px) {
      width: 300px;
      min-width: 300px;
    }

    @media (max-width: 340px) {
      margin: 3rem 0.1rem 0.1rem;
    }

    &-title {
      background-color: #080f0f;
      color: #fff;
      text-align: center;

      &:first-child {
        margin-top: 0;
      }
    }

    .user-profile__list {
      list-style: none;
      padding: 0 0.5rem;

      .user-profile__list-item {
        margin: 0.5rem;
        border-bottom: 1px solid #080f0f;

        span {
          font-weight: bold;
        }

        &:hover {
          cursor: pointer;
          color: #a52422;
        }
      }

      .user-profile__item-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__order-menu {
    max-width: 300px;
    margin: 0 2rem 2rem 0.5rem;

    .user-profile__order-menu-item {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
}
